#screen {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

#health-bar {
    margin-top: 20px;
    width: 25%;
}

#health-bar .unity-progress-bar {
    min-height: 60px;
    height: 60px;
}

#health-bar .unity-progress-bar__container {
    min-height: 60px;
    height: 60px;
}

#health-bar .unity-progress-bar__background {
    background-color: rgb(34, 32, 32);
    border-width: 0;
}

#health-bar .unity-progress-bar__progress {
    background-color: rgb(224, 88, 58);
}

#health-bar .unity-progress-bar__title {
    -unity-font-style: bold;
    font-size: 60px;
    color: rgb(255, 255, 255);
}

#stamina-bar {
    margin-top: 20px;
    width: 25%;
}

#stamina-bar .unity-progress-bar {
    min-height: 60px;
    height: 60px;
}

#stamina-bar .unity-progress-bar__container {
    min-height: 60px;
    height: 60px;
}

#stamina-bar .unity-progress-bar__background {
    border-width: 0;
}

#stamina-bar .unity-progress-bar__progress {
    background-color: rgb(229, 236, 29);
}

.collected-key {
    align-items: auto;
    font-size: 42px;
    -unity-font-style: bold;
    color: rgb(0, 0, 0);
    margin-left: 60px;
    -unity-text-align: upper-center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 50px;
}

.progress-bars {
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.collected-key-background {
    position: absolute;
    left: 60px;
    top: 50px;
    background-color: rgb(0, 0, 0);
    align-items: auto;
}
